<div class="container text-center">

  <div style="color: #F39200; font-weight: 600; font-size: 2em; text-transform: uppercase; margin-top: 1em;"> Mi Perfil</div>
  <img width="150px" src={{usuario.foto}}>

  <div class="linea">
    <div style="background: #F39200; font-weight: 400; color: white;">
       <label> Usuario </label>
      </div>
    <p> {{usuario.email}}</p>
    <hr>
  </div>

  <div class="linea">
    <div style="background: #F39200; font-weight: 400; color: white;">
       <label> Nombre </label>
      </div>
    <p> {{usuario.nombre}}</p>
    <hr>
  </div>

  <div class="linea">
    <div style="background: #F39200; font-weight: 400; color: white;">
       <label> Profesion </label>
      </div>
    <p> {{usuario.profesion}}</p>
    <hr>
  </div>

  <div class="linea">
    <div style="background: #F39200; font-weight: 400; color: white;">
       <label> Ciudad </label>
      </div>
    <p> {{usuario.ciudad}}</p>
    <hr>
  </div>

  <div class="linea">
    <div style="background: #F39200; font-weight: 400; color: white;">
       <label> Edad </label>
      </div>
    <p> {{usuario.edad}}</p>
    <hr>
  </div>

  <div class="linea">
    <div style="background: #F39200; font-weight: 400; color: white;">
       <label> Intereses </label>
      </div>
    <p> {{usuario.intereses}}</p>
    <hr>
  </div>


</div>
